*{
    font-family: verdana;
}
body {
    display: grid;
    place-items: center;
    height: 50vh;
    margin: 0;
    background-color: rgb(181, 199, 215);
}


.title-with-background {
    top: 0;
    position: absolute;
    color: #262424;
    
    
    
}

.container {
    margin: 0;
    margin-top: 5em;
    border: solid black;
    margin-bottom: 100px;
    background-color: aliceblue;
    width: 40%;
    height: 80%   
    
}

img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;  
}


h2 {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 5px;
}

.number-photo {
text-align: right;
margin-top: -45px;        
}

p {
    text-align: left;
    margin-top: 5px;
    font-size: 16px;
    color: #333;
}
