*{
    font-family: verdana;
        
}
h1 {
    text-align: center;
    background: lightgray;
    max-width: auto;
    max-height: auto;

}

body{
    background: rgb(255, 255, 255);
    text-align: center;
    descent-override: flex;
	align-items: center;
	justify-content: center;
}

.cuerpo {
    background: gray;
    text-align: center;
    descent-override: flex;
	align-items: center;
	justify-content: center;
    margin: none;

}

.cuerpoinfo {
    background-color: rgb(76, 45, 45);
    justify-content: center;
	float: none;
	padding: 150px 150px 150px 150px; 
	text-align: center;
	border-radius: none;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 600px;
    margin-top: 10px;
}

#encabezado  { 
    padding: 10px 10px 10px 10px;
    text-align: left;
    margin-top: -150px;
    margin-bottom: 100px;
    margin-left: -150px;
    margin-right: -150px;
    border: 6px;
    border-style: solid;
    background-color: grey;
    
   
}

.titulo-encabezado {

    padding: 10px 300px 15px 10px;
    margin-top: -150px;
    margin-bottom: 100px;
    margin-left: -150px;
    margin-right: -150px;
    float: left;
    display: flex;
    border: 2px;
    border-style: solid;
    background-color: grey;
    
}

.numero-foto {

    padding: 10px 50px 15px 10px;
    margin-top: -150px;
    margin-bottom: 100px;
    margin-left: -150px;
    margin-right: -150px;
    float: right;
    display: flex;
    border: 2px;
    border-style: solid;
    background-color: rgb(203, 60, 60);


    
}


img{
    position: relative;
    margin-top: -100px;
    margin-bottom: 100px;
    margin-left: -150px;
    height: 600px;
    width: 862px;
   
    
    
}

.texto-imagen {
    bottom: 50%;
}
